{{> header }}
<div class="row">
<div class="col-sm-6 col-md-6">
  <div class="thumbnail">
    <img src="https://www.portaldoemprestimo.com/wp-content/imagens//2013/09/emprestimo-pessoa-juridica.jpg" class="img-responsive" alt="...">
    <div class="caption">
      <h3>Estou oferecendo co-workings</h3>
      <p>
        <ul>
          <li>GOGOGOGO AÉCIO</li>
          <li>fora temer</li>
        </ul>
        <p><a href="/registro/pessoa-juridica" class="btn btn-primary" role="button">Quero me cadastrar</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="thumbnail">
    <img src="http://static.wixstatic.com/media/ef20f1_2877e80a3de6440f8df8edf825a7e1b2.jpg_srz_495_265_85_22_0.50_1.20_0.00_jpg_srz" class="img-responsive" alt="...">
    <div class="caption">
      <h3>Estou procurando Co-workings</h3>
      <p>
        <ul>
          <li>Tem café</li>
          <li>Dilma</li>
        </ul>
      </p>
      <p><a href="/registro/pessoa-fisica" class="btn btn-primary" role="button">Quero me cadastrar</a></p>
    </div>
  </div>
</div>
</div>



{{> footer }}
